@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-[#111336];
  }
}

body {
  font-family: "Poppins", sans-serif;
}

.gradient-button {
  background: linear-gradient(
    to right,
    #f27121,
    #ee593b,
    #e94057,
    #af3e9c,
    #703be7
  );
}

.gradient-banner {
  background: linear-gradient(to right, #6636d2, #6636d2, #4257e9, #2472fc);
  font-family: "Nunito", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.content-scrollbar::-webkit-scrollbar {
  height: 1rem;
}

.content-scrollbar::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 9999px;
  border: 3.5px solid white;
  transition: all 200ms ease;
}

.content-scrollbar::-webkit-scrollbar-thumb:hover {
  border: none;
}
