@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.gradient-button {
  background: linear-gradient(
    to right,
    #f27121,
    #ee593b,
    #e94057,
    #af3e9c,
    #703be7
  );
}

.gradient-banner {
  background: linear-gradient(to right, #6636d2, #6636d2, #4257e9, #2472fc);
  font-family: "Nunito", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
